/* Adicionei algumas regras de estilo para melhorar a aparência do layout */

body {
    background-color: #f5f5f5; /* Fundo claro */
    font-family: 'Coves', sans-serif; /* Fonte Coves */
}

/* Estilos para o cabeçalho */
header {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Cor do texto */
    font-weight: bold;
}

/* Estilos para as seções */
section {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
    margin-top: 0;
}

/* Estilos para os formulários */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para os botões */
.btn {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transição suave */
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1); /* Sombra suave */
}

.btn:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
    transform: translateY(-2px); /* Efeito de levantamento ao passar o mouse */
    box-shadow: 0 6px 8px rgba(0, 123, 255, 0.1); /* Sombra mais pronunciada */
}

/* Estilos para o rodapé */
footer {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc; /* Borda superior cinza */
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
}
.urgent-item {
    color: red; /* Define a cor do texto como vermelho para destacar */
    font-weight: bold; /* Define o peso da fonte como negrito para destacar */
}
/* Estilos para o contêiner do gráfico e da legenda */
.chart-container {
    display: flex;
    justify-content: center; /* Coloca espaço entre o gráfico e a legenda */
    align-items: center;
    flex-wrap: wrap;
}

.chart {
    width: 60%; /* Aumenta a largura do gráfico para 60% */
    max-width: 500px; /* Defina o tamanho máximo do gráfico */
}

.legend-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Espaçamento entre o gráfico e a legenda */
    padding-right: 20px; /* Adiciona um espaçamento à direita da legenda */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Espaçamento entre os itens da legenda */
}

.legend-color {
    width: 20px; /* Largura do bloco de cor */
    height: 10px; /* Altura do bloco de cor */
    margin-right: 5px; /* Espaçamento entre o bloco de cor e o texto */
}
